* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    background-color: #ccc;
    padding: 5px;
}

h1 {
    background-color: #fff;
    font-size: 48px;
}

.event-logs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 20%;
    padding: 5px;
    text-align: center;
}

label {
    margin-bottom: 15px;
}
